.MermaidEditor {
  text-align: left;

  * {
    font-family: "Noto Sans JP", Barlow;
  }

  .Heading {
    font-size: 48px;
  }
  h2 {
    margin-bottom: 0;
  }
  .Form {
    display: flex;
    flex-direction: column;
    gap: 16px;


    .Title {
        display: flex;
        gap: 8px;
    }

    .Axis {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 8px;

      > div {
        display: flex;
        gap: 8px;
      }

      .X.Minus {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
      }
      .X.Plus {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
      }
      .Y.Plus {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
      }
      .Y.Minus {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
      }
    }

    .Quadrant {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 8px;

      .D1 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
      }
      .D2 {
          grid-row: 1 / 2;
          grid-column: 1 / 2;
      }
      .D3 {
          grid-row: 2 / 3;
          grid-column: 1 / 2;
      }
      .D4 {
          grid-row: 2 / 3;
          grid-column: 2 / 3;
      }
      .SingleField {
        display: flex;
        gap: 8px;
      }
    }

    .Points {
      //word-break: keep-all;

      white-space: nowrap;

      .ButtonContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        button {
          //position: absolute;
          right: 0;
          margin: 8px;
          top: 16px;
        }
      }
      .Point {
        display: flex;
        gap: 8px;
        align-items: center;

        > div {
          display: flex;
          gap: 8px;
        }

        margin-bottom: 8px;
        .SliderContainer {
          width: 100%;
        }
      }
    }

    .DetailSettings {
      .Icon {
        display: inline-block;
        transition: all ease-in-out .3s;
      }
      &.Open .Icon {
        transform: rotate(180deg);
      }
      .Inputs {
      }
    }
  }

  .SvgContainer {
    margin-top: 16px;
    padding: 24px;
    background: white;
    border-radius: 8px;

    img {
      max-width: 480px;
    }
  }

  pre {
    text-align: left;
    background: white;
    color: black;
    padding: 16px;
    border-radius: 8px;
  }

  .CopyContainer {
    padding: 8px;
    display: flex;
    gap: 8px;
  }
}


